page-login {

    #page {
        background: linear-gradient(
                rgba(0, 6, 2, 0.72),
                rgba(0, 6, 2, 0.72)), url(./../../assets/img/Rqa9vfrET6WLPGAqXWAQ_28183124992_7c9c419e04_o.jpg) no-repeat center;
        background-size: cover;
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }

    h1 {
        color: $app-primary;
        font-size: 10rem;
    }
    p {
        color: $app-primary;
        font-size: 3.0rem;
    }

    #login-form {
        .item {
            background: transparent;
            border: solid 1px $app-primary;
        }
        .label,
        .text-input {
            font-weight: bold;
            font-size: 20px;
            color: $app-secondary;
        }
    }

    #signup-button {
        padding: 0;
        .button-inner {
            display: -webkit-flex; /* Safari */
            -webkit-justify-content: flex-end; /* Safari 6.1+ */
            display: flex;
            justify-content: flex-end;
        }
    }

    #forgot-password-button {
        padding: 0;
        .button-inner {
            display: -webkit-flex; /* Safari */
            -webkit-justify-content: flex-start; /* Safari 6.1+ */
            display: flex;
            justify-content: flex-start;
        }
    }
}
